<head>
	<title>"Hell"</title>
</head>
	
<body>

	<div id="page-wrap">
		<div title='Log in' id='sheol' ><%= link_to image_tag('Sheol.png', height: '245em', width: '300em'), '/login'  %></div>
		<div title='Sign up' id='trident_1', class= "trident"><%= link_to image_tag('Trident.png', height: '150em', width: '140em'), 'signup' %></div>
		<div title='Sign up' id='trident_2', class="trident"><%=  link_to image_tag('Trident.png', height: '150em', width: '140em'), 'signup' %></div>
		<a href='#' title="Sitra Achra" id="star">"click here"</a>
	</div>	
</body>

